body {
    font-family: 'Roboto', sans-serif;
}

#movies img {
    width: 100%;
}

#nominations img {
    width: 100%;
}

#movies {
    width: 50%;
    float: left;
}


#nominations {
    width: 50%;
    float: right;
}
