@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

h3, h4 {
    font-family: 'Ubuntu', sans-serif;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
    font-weight: bold;
}

h5 {
    font-size: 1em;
}

.navbar-brand {
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.movie-title {
    margin: 1.5em 0em;
}

.col-md-3 .well {
    height: 390px;
    position: relative;
}

.col-md.3 img {
    height: 240px;
}

.col-md-3 .well .btn {
    position: absolute;
    bottom: 4em;
    left: 0;
    right: 0;
    white-space: normal !important;
    word-wrap: break-word;
}

#movies-header, #nominations-header {
    width: 50%;
    padding-bottom: 1em;
}

#movies-header {
    float: left;
}

#nominations-header {
    float: right;
}

#movies {
    margin-left: -2em;
    width: 50%;
    float: left;
}


#nominations {
    margin-right: -2em;
    width: 50%;
    float: right;
}

#movies img, #nominations img {
    width: 100%;
}
